<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>栏目编辑</title>
<link rel="stylesheet" href="__STATIC__/plugin/layui/css/layui.css">
</head>
<body style="margin:15px;background:#FFF">

	<!-- 内容主体区域 -->
	<form class="layui-form layui-form-pane" action="{:url('admin/type/save')}" method="post">
		<input type="hidden" name="id" value="{$type.id}">
		<div class="layui-tab">
		  <ul class="layui-tab-title">
		    <li class="layui-this" style="padding:0 28px;">基本属性</li>
		    <li>高级属性</li>
		    <li>栏目内容</li>
		  </ul>
		  <div class="layui-tab-content" style="border:1px solid #e6e6e6;border-top:none;">
	  		<div class="layui-tab-item layui-show">
	  			<div class="layui-form-item">
	  				<label class="layui-form-label">栏目名称</label>
	  				<div class="layui-input-block">
	  					<input type="text" name="name" lay-verify="required" class="layui-input" value="{$type.name}">
	  				</div>
	  			</div>
	  			<div class="layui-form-item">
	  				<label class="layui-form-label">父级栏目</label>
				    <div class="layui-input-block">
				      <select name="pid" lay-verify="required">
				        <option value="0">顶级栏目</option>
				        {$option}
				      </select>
				    </div>
	  			</div>
	  			<div class="layui-form-item">
				    <label class="layui-form-label">栏目缩略图</label>
				    <div class="layui-input-inline">
				    	<input type="text" name="litpic" id="litpic" class="layui-input" value="{$type.litpic}">
				    </div>
				    <div class="layui-upload">
					  <button type="button" class="layui-btn layui-btn-normal" id="test8"><i class="layui-icon">&#xe67c;</i>上传图片</button>
					</div>
				</div>
				<div class="layui-form-item">
	  				<label class="layui-form-label">栏目排序</label>
	  				<div class="layui-input-block">
	  					<input type="text" name="sort" class="layui-input" value="{$type.sort}">
	  				</div>
	  			</div>
	  			<div class="layui-form-item">
	  				<label class="layui-form-label">列表数量</label>
	  				<div class="layui-input-block">
	  					<input type="text" name="row" class="layui-input" value="{$type.row}">
	  				</div>
	  			</div>
	  			<div class="layui-form-item" style="margin-bottom:0;">
	  				<label class="layui-form-label">别名URL</label>
	  				<div class="layui-input-block">
	  					<input type="text" name="url" class="layui-input" value="{$type.url}">
	  				</div>
	  			</div>
	  		</div>
		  	<div class="layui-tab-item">
		  		<div class="layui-form-item">
	  				<label class="layui-form-label">关键字</label>
	  				<div class="layui-input-block">
	  					<input type="text" name="keywords" class="layui-input" value="{$type.keywords}">
	  				</div>
	  			</div>
		  		<div class="layui-form-item">
		  			<label class="layui-form-label">描述词</label>
		  			<div class="layui-input-block">
		  				<input type="text" name="description" class="layui-input" value="{$type.description}">
		  			</div>
		  		</div>
		  		<div class="layui-form-item">
		  			<label class="layui-form-label">列表模板</label>
		  			<div class="layui-input-block">
		  				<input type="text" name="liststpl" class="layui-input" value="{$type.listtpl}">
		  			</div>
		  		</div>
		  		<div class="layui-form-item">
		  			<label class="layui-form-label">内页模板</label>
		  			<div class="layui-input-block">
		  				<input type="text" name="itemstpl" class="layui-input" value="{$type.itemtpl}">
		  			</div>
		  		</div>
		  		<div class="layui-form-item">
		  			<label class="layui-form-label">栏目权限</label>
		  			<div class="layui-input-block">
				      <select name="level" lay-verify="required">
				        <option value="0" selected="">开放浏览</option>
				        <option value="1">青铜会员</option>
				        <option value="2">黄金会员</option>
				        <option value="3">白金会员</option>
				        <option value="4">钻石会员</option>
				        <option value="5">王者会员</option>
				      </select>
				    </div>
		  		</div>
		  		<div class="layui-form-item" style="margin-bottom:0;">
		  			<label class="layui-form-label">是否显示</label>
		  			<div class="layui-input-block">
				      <select name="status" lay-verify="required">
				        {switch name="type.status"}
						    {case value="1"}<option value="1" selected="">显示</option><option value="0">隐藏</option>{/case}
						    {case value="0"}<option value="1">显示</option><option value="0" selected="">隐藏</option>{/case}
						    {default /}<option value="1">显示</option><option value="0" selected="">隐藏</option>
						{/switch}
				      </select>
				    </div>
		  		</div>
		  	</div>
		  	<div class="layui-tab-item">
	  			<div class="layui-form-item layui-form-text" style="margin-bottom:0;">
					<div class="layui-input-block">
						<textarea class="layui-textarea" name="content" id="content">{$type.content}</textarea>
					</div>
				</div>
		  	</div>
		  </div>
		</div>
		<div style="text-align:right;">
			<button class="layui-btn layui-btn-normal">立即保存</button>
		</div>
	</form>
<script src="__STATIC__/plugin/layui/layui.js"></script> 
<script src="__ADMIN__/modules/lists-type.js"></script>
</body>
</html>