<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>用户管理</title>
<link rel="stylesheet" href="__STATIC__/plugin/layui/css/layui.css">
</head>
<body style="margin:15px;background:#FFF">

  <!-- 内容主体区域 -->
  <form class="layui-form">
    <blockquote class="layui-elem-quote" style="margin-bottom:0;">
      <form class="layui-form">
        <a class="layui-btn layui-btn-normal addUser_btn">添加用户</a>
        <a class="layui-btn layui-btn-danger banAll_btn">批量封禁</a>
      </form>
    </blockquote>

    <table id="userLists" lay-filter="userLists"></table>

    <!--日期-->
    <script type="text/html" id="regdate">
      {{#  var time = getdate(d.regdate*1000); return time; }}
    </script>
    <script type="text/html" id="lastlogin">
      {{#  var time = getdate(d.lastlogin*1000); return time; }}
    </script>

    <!--用户状态-->
    <script type="text/html" id="status">
      {{#  if(d.status == 0){ }}
      <span class="layui-btn layui-btn-danger layui-btn-xs">封禁</span>
      {{#  } else if(d.status == 1){ }}
      <span class="layui-btn layui-btn-normal layui-btn-xs">正常</span>
      {{#  } else { }}
      <span class="layui-btn layui-btn-danger layui-btn-xs">异常</span>
      {{#  }}}
    </script>

    <!--操作-->
		<script type="text/html" id="userListsBar">
      <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
			<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="ban"><i class="layui-icon layui-icon-delete"></i>封禁</a>
		</script>
  </form>

<script src="__STATIC__/plugin/layui/layui.js"></script> 
<script src="__STATIC__/admin/modules/lists-user.js"></script>
</body>
</html>